@import "mixins";
@import "typography";
@import "variables";

.heroBannerContent,
.subscribeMail {
    button {
        padding: 17px 50px;
        background-color: var(--bg-main);
        border: none;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        position: relative;
        overflow: hidden;

        span {
            position: relative;
            z-index: 1;
            @include font16;
            font-family: var(--font-family-josefin);
            color: var(--font-white);
        }

        &::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 52%;
            top: 0;
            left: 0;
            background-color: var(--bg-gold);
            transition: all 0.5s ease-in-out;
        }

        &::before {
            content: "";
            position: absolute;
            width: 100%;
            height: 52%;
            bottom: 0;
            left: 0;
            background-color: var(--bg-gold);
            transition: all 0.5s ease-in-out;
        }

        &:hover {
            &::after {
                top: -52%;
            }
            &::before {
                bottom: -52%;
            }
        }
    }
}

.searchBtn {
    button {
        padding: 13px;
        background-color: var(--bg-main);
        border: none;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        position: relative;
        overflow: hidden;

        svg {
            position: relative;
            z-index: 1;
            stroke: var(--font-white);
        }

        &::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 52%;
            top: 0;
            left: 0;
            background-color: var(--bg-gold);
            transition: all 0.5s ease-in-out;
        }

        &::before {
            content: "";
            position: absolute;
            width: 100%;
            height: 52%;
            bottom: 0;
            left: 0;
            background-color: var(--bg-gold);
            transition: all 0.5s ease-in-out;
        }

        &:hover {
            &::after {
                top: -52%;
            }
            &::before {
                bottom: -52%;
            }
        }
    }
}

.welcomeContentText {
    button {
        padding: 11px 34px;
        background-color: var(--bg-main);
        border: 1px solid var(--border-color);
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        position: relative;
        overflow: hidden;
        display: flex;
        justify-content: center;

        span {
            position: relative;
            z-index: 1;
            @include font16;
            font-family: var(--font-family-josefin);
            color: var(--font-white);
        }

        &::after {
            content: "";
            position: absolute;
            width: 0%;
            height: 100%;
            top: 0;
            background-color: var(--bg-gold);
            transition: all 0.5s ease-in-out;
        }

        &:hover {
            &::after {
                width: 100%;
            }
        }
    }
}
