@import "mixins";
@import "typography";
@import "variables";

.container2 {
    max-width: calc(1580px + 40px);
    margin: 0 auto;
    padding: 0 20px;
}

.container {
    max-width: calc(1300px + 40px);
    margin: 0 auto;
    padding: 0 20px;
}

.container2 {
    max-width: calc(1700px + 40px);
    margin: 0 auto;
    padding: 0 20px;
}
