:root {
    --color-white: #fff;
    --color-black: #000;
    
    --font-white: #fff;
    --font-gold: #c9ab81;

    --bg-main: #0B1315;

    --border-color: #715b3e;

    --font-family-tangerine: "Tangerine";
    --font-family-oswald: "Oswald";
    --font-family-josefin: "Josefin";
}