:root {
    --color-white: #fff;
    --color-black: #000;

    --border-color: #212121;

    --font-family-tangerine: "Tangerine";
    --font-family-oswald: "Oswald";
    --font-family-josefin: "Josefin";
}