:root {
    --color-white: #fff; // rgb(255, 255, 255)
    --color-black: #000; // rgb(0, 0, 0)
    
    --font-white: #fff; // rgb(255, 255, 255)
    --font-gold: #c9ab81; // rgb(201, 171, 129)
    --font-gray: #b0b0b0; // rgb(176, 176, 176)
    
    --bg-gold: #c9ab81; // rgb(201, 171, 129)
    --bg-main: #0B1315; // rgb(11, 19, 21)
    --bg-main2: #0f1d22; // rgb(15, 29, 34)

    --border-color: #715b3e; // rgb(113, 91, 62)

    --font-family-tangerine: "Tangerine";
    --font-family-oswald: "Oswald";
    --font-family-josefin: "Josefin";
}
