@import "../../../assets/styles/main.scss";

.blogMain {
    padding: 100px 0;

    @include breakpoint("sm-max") {
        padding: 60px 0;
    }

    .blogMainDiv {
        display: grid;
        grid-template-columns: 1fr 40%;
        gap: 50px;

        @include breakpoint("lg-max") {
            grid-template-columns: 1fr;
            gap: 70px;
        }
    }
}
