body {
    margin: 0;
    padding: 0;
    background-color: var(--bg-main);
}

html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
    display: block;
    object-fit: cover;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

a {
    text-decoration: none;
}

textarea {
    resize: none;
}

.no-scroll {
    overflow: hidden;
}

::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.MuiSlider-root {
    color: var(--bg-gold) !important;
    height: 2px !important;
    box-shadow: none !important;
}

.MuiSlider-thumb {
    background-color: var(--bg-gold) !important;
    width: 5px !important;
    height: 20px !important;
    border-radius: 0% !important;
    box-shadow: none !important;
}

.MuiSlider-thumb:hover {
    background-color: var(--bg-gold) !important;
    box-shadow: none !important;
}

.MuiSlider-track {
    background-color: var(--bg-gold) !important;
    border: none !important;
}

.MuiSlider-rail {
    background-color: var(--bg-gold) !important;
    border: none !important;
}
