@import "../../assets/styles/main.scss";

.header {
    padding: 30px 20px;
    border-bottom: 1px solid var(--border-color);
    position: relative;
    z-index: 9;
    background-color: var(--color-black);
    transition: all 0.3s ease-in-out;

    @include breakpoint("sm-max") {
        padding: 20px 0;
    }

    &.scroll {
        position: sticky;
        top: 0;
        width: 100%;
        background-color: var(--bg-main2);
        transition: all 0.3s ease-in-out;

        &::after {
            border-bottom: transparent;
        }
    }

    &::after {
        content: "";
        position: absolute;
        bottom: 3px;
        left: 0;
        width: 100%;
        border-bottom: 1px solid var(--border-color);
    }

    .headerDiv {
        display: flex;
        justify-content: space-between;
        gap: 20px;

        .logo {
            img {
                max-width: 135px;
                height: auto;
                display: block;

                @include breakpoint("sm-max") {
                    max-width: 80px;
                }
            }
        }

        nav {
            display: flex;
            align-items: center;
            gap: 45px;

            @include breakpoint("lg-max") {
                display: none;
            }

            a {
                position: relative;

                span {
                    display: block;
                    @include font20;
                    font-family: var(--font-family-josefin);
                    color: var(--font-white);
                    transition: all 0.3s ease-in-out;
                }

                .activeTag {
                    display: none;
                    position: absolute;
                    bottom: -15px;
                    left: 50%;
                    width: 0;
                    height: 0;
                    border-left: 4px solid transparent;
                    border-right: 4px solid transparent;
                    border-bottom: 8px solid var(--font-gold);
                    transform: translateX(-50%);
                    transition: all 0.3s ease-in-out;
                }

                &:hover {
                    span {
                        color: var(--font-gold);
                    }
                }

                &.active {
                    .activeTag {
                        display: block;
                    }

                    span {
                        color: var(--font-gold);
                    }
                }
            }
        }

        .cartLogin {
            display: flex;
            align-items: center;
            gap: 20px;

            .cart {
                position: relative;

                svg {
                    @include breakpoint("sm-max") {
                        width: 25px;
                    }
                }
            }

            .login {
                svg {
                    @include breakpoint("sm-max") {
                        width: 25px;
                    }
                }
            }

            .menu {
                display: none;
                margin-left: 20px;
                cursor: pointer;

                @include breakpoint("sm-max") {
                    margin-left: 0;
                }

                svg {
                    @include breakpoint("sm-max") {
                        width: 25px;
                    }
                }

                @include breakpoint("lg-max") {
                    display: block;
                }
            }
        }
    }
}
