@import "../../../assets/styles/main.scss";

.shopMain {
    padding: 100px 0;

    @include breakpoint("sm-max") {
        padding: 60px 0;
    }

    .shopDiv {
        display: grid;
        grid-template-columns: 1fr 25%;
        gap: 30px;

        @include breakpoint("lg-max") {
            grid-template-columns: 1fr;
            gap: 40px;
        }

        .shopDiv2 {
            @include breakpoint("lg-max") {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 50px;
            }

            @include breakpoint("sm-max") {
                grid-template-columns: 1fr;
                gap: 30px;
            }

            h3 {
                @include font36;
                font-weight: 300;
                font-family: var(--font-family-oswald);
                color: var(--font-white);
                padding-bottom: 20px;
                margin-bottom: 30px;
                position: relative;

                &::after {
                    content: "";
                    position: absolute;
                    width: 80px;
                    border-bottom: 1px solid var(--font-gold);
                    bottom: 0;
                    left: 0;
                }

                &::before {
                    content: "";
                    position: absolute;
                    width: 80px;
                    border-bottom: 1px solid var(--font-gold);
                    bottom: 4px;
                    left: 0;
                }
            }

            .priceFilter {
                margin-bottom: 50px;

                @include breakpoint("lg-max") {
                    margin-bottom: 0;
                }

                p {
                    @include commonPera;
                    color: var(--font-gray);
                    margin-bottom: 15px;
                }
            }

            .openingTime {
                margin-bottom: 50px;

                @include breakpoint("lg-max") {
                    margin-bottom: 0;
                }

                p {
                    @include commonPera;
                    color: var(--font-gray);
                    margin-bottom: 10px;

                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }

            .categoriesList {
                a {
                    max-width: fit-content;
                    display: flex;
                    gap: 12px;
                    @include font20;
                    margin-bottom: 10px;
                    font-family: var(--font-family-josefin);
                    color: var(--font-white);
                    transition: all 0.3s ease-in-out;

                    svg {
                        margin-top: 3px;
                        fill: var(--font-white);
                        transition: all 0.3s ease-in-out;
                    }

                    &:hover {
                        color: var(--font-gold);

                        svg {
                            fill: var(--font-gold);
                        }
                    }
                }
            }
        }
    }
}
