@import "../../../assets/styles/main.scss";

.shopMain {
    padding: 100px 0;

    @include breakpoint("sm-max") {
        padding: 60px 0;
    }

    .shopDiv {
        display: grid;
        grid-template-columns: 1fr 25%;
        gap: 30px;

        .shopDiv1 {
            .shopDiv1Head {
                display: flex;
                justify-content: space-between;

                .shopDiv1HeadView {
                    display: flex;
                    align-items: center;
                    gap: 20px;

                    .iconWrap {
                        height: 30px;
                        width: 30px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        cursor: pointer;
                        
                        &.active {
                            border: 1px solid var(--color-white);
                        }
                    }
                }

                .customSelect {
                    position: relative;
                    min-width: 200px;

                    .select {
                        padding: 15px;
                        width: 100%;
                        border: 1px solid var(--border-color);
                        background-color: var(--bg-main);
                        @include font16;
                        font-family: var(--font-family-josefin);
                        color: var(--font-white);
                        cursor: pointer;
                        position: relative;

                        .dropIcon {
                            position: absolute;
                            top: 15px;
                            right: 15px;

                            svg {
                                fill: var(--font-white);
                                transition: transform 0.3s ease;
                            }

                            &.rotate {
                                svg {
                                    transform: rotate(-180deg);
                                }
                            }
                        }
                    }

                    .dropBox {
                        position: absolute;
                        margin-top: 5px;
                        width: 100%;
                        top: 100%;
                        background-color: var(--bg-main);
                        border: 1px solid rgba(176, 176, 176, 0.2);
                        z-index: 10;

                        div {
                            cursor: pointer;
                            padding: 15px 20px;
                            @include font16;
                            font-family: var(--font-family-josefin);
                            color: var(--font-gray);

                            &:hover {
                                background-color: var(--bg-main2);
                            }
                        }
                    }
                }
            }
        }

        .shopDiv2 {
            h2 {
                @include font36;
                font-weight: 300;
                font-family: var(--font-family-oswald);
                color: var(--font-white);
                padding-bottom: 20px;
                margin-bottom: 30px;
                position: relative;

                &::after {
                    content: "";
                    position: absolute;
                    width: 80px;
                    border-bottom: 1px solid var(--font-gold);
                    bottom: 0;
                    left: 0;
                }

                &::before {
                    content: "";
                    position: absolute;
                    width: 80px;
                    border-bottom: 1px solid var(--font-gold);
                    bottom: 4px;
                    left: 0;
                }
            }

            .priceFilter {
                margin-bottom: 50px;

                p {
                    @include commonPera;
                    color: var(--font-gray);
                    margin-bottom: 15px;
                }
            }

            .openingTime {
                margin-bottom: 50px;

                p {
                    @include commonPera;
                    color: var(--font-gray);
                    margin-bottom: 10px;

                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }

            .categoriesList {
                a {
                    max-width: fit-content;
                    display: flex;
                    gap: 12px;
                    @include font20;
                    margin-bottom: 10px;
                    font-family: var(--font-family-josefin);
                    color: var(--font-white);
                    transition: all 0.3s ease-in-out;

                    svg {
                        margin-top: 3px;
                        fill: var(--font-white);
                        transition: all 0.3s ease-in-out;
                    }

                    &:hover {
                        color: var(--font-gold);

                        svg {
                            fill: var(--font-gold);
                        }
                    }
                }
            }
        }
    }
}
