

// Tangerine //
@font-face {
  font-family: "Tangerine";
  src: url("../../fonts/Tangerine/Tangerine-Regular.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Tangerine";
  src: url("../../fonts/Tangerine/Tangerine-Bold.ttf") format("truetype");
  font-weight: 600;
}

// Oswald //
@font-face {
  font-family: "Oswald";
  src: url("../../fonts/Oswald/Oswald-VariableFont_wght.ttf") format("truetype");
}

// Josefin //
@font-face {
  font-family: "Josefin";
  src: url("../../fonts/Josefin/JosefinSans-VariableFont_wght.ttf") format("truetype");
}
