@import "../../../assets/styles/main.scss";

.loading {
    padding: 100px 0;
    min-height: 800px;
    color: var(--font-white);
    @include font20;
    font-family: var(--font-family-josefin);
}

.cartMain {
    padding: 100px 0;

    @include breakpoint("sm-max") {
        padding: 60px 0;
    }

    .cartEmptyBox {
        padding: 100px 20px;
        border-radius: 5px;
        background-color: var(--bg-main2);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        img {
            max-width: 400px;
            height: auto;
        }

        h2 {
            @include font36;
            font-weight: 300;
            font-family: var(--font-family-oswald);
            color: var(--font-white);
        }

        p {
            @include commonPera;
            color: var(--font-gray);
            padding: 10px 0 20px 0;
        }
    }

    .cartDiv {
        display: grid;
        grid-template-columns: 1fr 325px;
        align-items: start;
        gap: 50px;

        @include breakpoint("lg-max") {
            grid-template-columns: 1fr;
            gap: 40px;
        }

        ::-webkit-scrollbar {
            width: 7px;
            height: 7px;
        }

        ::-webkit-scrollbar-track {
            background: var(--bg-main2);
        }

        ::-webkit-scrollbar-thumb {
            background: var(--font-gray);
            border-radius: 10px;
            cursor: pointer;
        }

        .cartDetails {
            overflow: auto;
            padding-bottom: 1px;

            table {
                width: 100%;
                border-collapse: collapse;
                white-space: nowrap;

                thead {
                    tr {
                        th {
                            @include font16bold;
                            font-family: var(--font-family-josefin);
                            color: var(--font-gray);
                            text-align: left;
                            padding: 20px 10px;

                            &:first-child {
                                padding: 0;
                            }

                            &:last-child {
                                padding: 20px 0 20px 10px;
                            }
                        }
                    }
                }

                tbody {
                    tr {
                        height: 1px;
                        border-top: 1px solid var(--border-color);
                        
                        &:last-child {
                            border-bottom: 1px solid var(--border-color);
                        }

                        td {
                            padding: 20px 10px;
                            height: inherit;

                            &:first-child {
                                padding: 0;
                            }

                            &:last-child {
                                padding: 20px 0 20px 10px;
                            }

                            svg {
                                width: 25px;
                                height: 25px;
                                fill: var(--font-gold);
                                cursor: pointer;
                            }

                            .product {
                                display: flex;
                                align-items: center;
                                gap: 15px;

                                img {
                                    max-width: 80px;
                                    height: auto;
                                }

                                h2 {
                                    @include font20bold;
                                    font-family: var(--font-family-josefin);
                                    color: var(--font-gray);
                                }
                            }

                            .price {
                                height: 100%;
                                display: flex;
                                flex-direction: column;
                                justify-content: space-around;
                                @include font16;
                                font-family: var(--font-family-josefin);
                                color: var(--font-gray);

                                p {
                                    span {
                                        @include font16bold;
                                        font-family: var(--font-family-josefin);
                                        color: var(--font-gold);
                                    }
                                }
                            }

                            .quantity {
                                display: flex;
                                margin-bottom: 10px;

                                &:last-child {
                                    margin-bottom: 0;
                                }

                                input {
                                    width: 40px;
                                    padding: 5px 10px;
                                    background-color: transparent;
                                    border: 1px solid var(--font-gold);
                                    color: var(--font-gray);
                                    @include font16;
                                    font-family: var(--font-family-josefin);
                                    transition: all 0.3s ease-in-out;
                                    text-align: center;

                                    &:focus {
                                        outline: none;
                                    }
                                }

                                input::-webkit-outer-spin-button,
                                input::-webkit-inner-spin-button {
                                    -webkit-appearance: none;
                                    margin: 0;
                                }
                            }

                            .subtotal {
                                height: 100%;
                                display: flex;
                                align-items: flex-end;

                                span {
                                    @include font16bold;
                                    font-family: var(--font-family-josefin);
                                    color: var(--font-gold);
                                }
                            }
                        }
                    }
                }
            }
        }

        .cartMainTotal {
            h3 {
                @include font36;
                font-weight: 300;
                font-family: var(--font-family-oswald);
                color: var(--font-white);
                padding-bottom: 20px;
                margin-bottom: 30px;
                position: relative;

                &::after {
                    content: "";
                    position: absolute;
                    width: 80px;
                    border-bottom: 1px solid var(--font-gold);
                    bottom: 0;
                    left: 0;
                }

                &::before {
                    content: "";
                    position: absolute;
                    width: 80px;
                    border-bottom: 1px solid var(--font-gold);
                    bottom: 4px;
                    left: 0;
                }
            }

            .offers {
                margin-bottom: 50px;

                .offersDiv {
                    padding: 15px;
                    border-radius: 5px;
                    background-color: var(--bg-main2);
                    display: grid;
                    grid-template-columns: auto 1fr auto;
                    align-items: center;
                    cursor: pointer;
                    gap: 20px;

                    svg {
                        fill: var(--font-white);

                        &:first-child {
                            stroke: var(--font-white);
                            stroke-width: 2px;
                        }
                    }

                    .offersDivText {
                        p {
                            @include commonPera;
                            color: var(--font-white);
                        }

                        span {
                            @include font14;
                            color: var(--font-gray);
                        }
                    }
                }
            }

            .cartMainTotalBox {
                margin-bottom: 50px;

                .offersDiv {
                    padding: 20px;
                    border-radius: 5px;
                    background-color: var(--bg-main2);

                    .offersTotalText {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        margin-bottom: 15px;

                        p {
                            @include commonPera;
                            color: var(--font-white);
                        }

                        span {
                            @include font16;
                            font-weight: 500;
                            font-family: var(--font-family-josefin);
                            color: var(--font-white);
                        }
                    }
                }
            }
        }
    }
}
